<div class="table-responsive">
  <%= turbo_frame_tag "users" do %>
    <table class="table">
      <thead style="background-color: #eeeeee">
        <tr>
          <th id="product-stock" class="position-relative" scope="col">
            <%= sort_indicator if params[:column] == "stock" %>
            <%= sort_link(column: "stock", label: "Stock#") %>
          </th>
          <th class="position-relative" scope="col">
            <%= sort_indicator if params[:column] == "title" %>
            <%= sort_link(column: "title", label: "Title") %>
          </th>
          <th class="position-relative" scope="col">
            <%= sort_indicator if params[:column] == "category" %>
            <%= sort_link(column: "category", label: "Category") %>
          </th>
          <th class="position-relative" scope="col">
            <%= sort_indicator if params[:column] == "quantity" %>
            <%= sort_link(column: "quantity", label: "Quantity") %>
          </th>
          <th class="position-relative" scope="col">
            <%= sort_indicator if params[:column] == "price" %>
            <%= sort_link(column: "price", label: "Price") %>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr class="align-middle">
            <td style="width: 50px">
              <span class="d-inline-block text-truncate" style="max-width: 100px"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= product.stock.upcase %>">
                <%= product.stock.upcase %>
              </span>
            </td>
            <td class="col-4">
              <span class="d-inline-block text-truncate" style="max-width: 300px">
                <%= link_to product.title, admin_product_path(product) %>
              </span>
            </td>
            <td>
              <span class="d-inline-block text-truncate" style="max-width: 130px">
                <%= product.category.name.titleize %>
              </span>
            </td>
            <td><%= product.quantity %></td>
            <td><%= number_to_currency product.price %></td>
            <td>
              <div class="d-flex justify-content-end">
                <%= button_to t("archive"), "#",
                              method: :delete, form: { data: { turbo_confirm: "Are you sure?" } },
                              class: "btn btn-sm btn-link" %>
              </div>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
  <% end %>
</div>