<div class="table-responsive">
  <%= turbo_frame_tag "products_table" do %>
    <table class="table">
      <thead>
        <tr>
          <th class="position-relative" scope="col">
            <%= sort_indicator if session.dig('product_filters', 'column') == "title" %>
            <%= sort_link(column: "title", label: "Title", resource: 'Product', link: 'admin_products') %>
          </th>
          <th class="position-relative" scope="col">
            <%= sort_indicator if session.dig('product_filters', 'column') == "categories.name" %>
            <%= sort_link(column: "categories.name", label: "Category", resource: 'Product', link: 'admin_products') %>
          </th>
          <th class="position-relative" scope="col">
            <%= sort_indicator if session.dig('product_filters', 'column') == "quantity" %>
            <%= sort_link(column: "quantity", label: "Quantity", resource: 'Product', link: 'admin_products') %>
          </th>
          <th class="position-relative" scope="col">
            <%= sort_indicator if session.dig('product_filters', 'column') == "price" %>
            <%= sort_link(column: "price", label: "Price", resource: 'Product', link: 'admin_products') %>
          </th>
          <th class="position-relative" scope="col">
            <%= sort_indicator if session.dig('product_filters', 'column') == "status" %>
            <%= sort_link(column: "status", label: "Status", resource: 'Product', link: 'admin_products') %>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% if products.blank? %>
          <tr>
            <td colspan="6" class="bg-light p-2">
              <%= t(".no_products_found") %>
            </td>
          </tr>
        <% else %>
          <% products.each do |product| %>
            <tr class="align-middle">
              <td class="col-4">
              <span class="d-inline-block text-truncate" style="max-width: 300px">
                <%= link_to product.title, admin_product_path(product) %>
              </span>
              </td>
              <td>
              <span class="d-inline-block text-truncate" style="max-width: 130px">
                <%= product.category.name.titleize %>
              </span>
              </td>
              <td><%= product.quantity %></td>
              <td><%= number_to_currency product.price %></td>
              <td><%= product_status(product) %></td>
              <td>
                <div class="d-flex justify-content-end">
                  <%= link_to t("archive"), archive_admin_product_path(product),
                              class: "btn btn-sm btn-link" %>
                </div>
              </td>
            </tr>

          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= tag.div class: "row" do %>
      <div class="col-12 d-flex justify-content-between align-items-center px-3">
        <%== pagy_info(pagy) %>
        <%== pagy_bootstrap_nav(pagy) %>
      </div>
    <% end unless pagy.nil? %>

  <% end %>
</div>