<div class="container container-md-fluid">
  <%= render(PageTitleComponent.new(title: t(".inventory_title"))) do %>
    <%= link_to t("admin.products.new.create_product"), new_admin_product_path, class: "btn btn-primary" %>
  <% end %>

  <div class="card p-4">
    <div class="row justify-content-end">
      <div class="col-6 mb-1">
        <%= form_with url: list_admin_products_path, method: :get,
              data: {controller: "search-form", search_form_target: "form", turbo_frame: "products_table"} do |f| %>
          <div class="d-flex justify-content-end">
            <div class="col me-1">
              <%= f.label :category, class: "visually-hidden" %>
              <%= f.select :category_id,
                    options_from_collection_for_select(@categories, :id, :human_name),
                    {include_blank: t(".select_category")},
                    class: "form-select me-1",
                    data: {action: "change->search-form#search"} %>
            </div>
            <div class="col">
              <%= f.label :search, class: "visually-hidden" %>
              <%= f.text_field :search,
                    class: "form-control",
                    placeholder: t(".search_placeholder"),
                    value: params[:search],
                    data: {action: "input->search-form#search"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render partial: "admin/products/products", locals: {products: @products, pagy: @pagy} %>
  </div>
</div>
