<div class="container container-md-fluid">
  <div class="row mb-3">
    <div class="col-12 col-lg-5 justify-content-start align-items-start mb-lg-2">
      <h1 class="mb-2 mb-lg-0 text-truncate h3"><%= t('.inventory_show_title') %></h1>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="h5 mb-0"><%= @product.title %></h2>
        <div>
          <%= link_to t("edit"), edit_admin_product_path(@product), class: "btn btn-primary" %>
          <%= link_to "Archive", "#", class: "btn btn-outline-danger" %>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-md-4 me-4">
          <%= image_tag @product.product_img, class: "img-thumbnail" %>
        </div>
        <div class="col-md-6">
          <h3>Price: </h3>
          <div class="mb-2"><%= number_to_currency(@product.price) %></div>

          <h3>Description: </h3>
          <div class="mb-2"><%= @product.description %></div>
          <div class="mb-2">Stock #: <%= @product.stock %></div>

          <h3>Quantity Available: </h3>
          <% if @product.quantity.zero? %>
            <div class="my-2">
              <span class="badge bg-danger">Out of Stock</span>
            </div>
          <% else %>
            <div class="my-2">
              <%= @product.quantity %>
            </div>
          <% end %>
          <h3 class="mt-3">Category:</h3>
          <div class="my-2">
            <span class="badge bg-secondary my-2"><%= @product.category.name.titleize %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <div>
          <strong>Added: </strong><%= l @product.created_at, format: :long %>
        </div>
        <div>
          <strong>Last Updated: </strong><%= l @product.updated_at, format: :long %>
        </div>
      </div>
    </div>
  </div>
</div>
