<%= content_tag :tr, id: dom_id(user) do %>
  <td style="width: 50px">
    <div class="d-inline-block text-truncate" style="max-width: 100px"
         data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= user.id %>">
      <%= user.id %>
    </div>
  </td>
  <%= form_with(model: [:admin, @user]) do |f| %>
    <td>
      <%= f.label :name, class: "visually-hidden" %>
      <%= f.text_field :name, value: @user.name, autofocus: true, autocomplete: "name", class: "form-control" %>
    </td>

    <td>
      <%= f.label :email, class: "visually-hidden" %>
      <%= f.email_field :email, value: @user.email, autofocus: false, autocomplete: "email", class: "form-control" %>
    </td>

    <td>
      <%= f.label :role, class: "visually-hidden" %>
      <%= f.select(:role, [%w[Admin admin], %w[Customer customer]], value: @user.role, class: "form-select") %>
    </td>

    <td>
      <button class="btn btn-outline-secondary me-3">Cancel</button>
      <%= f.submit "Update", class: "btn btn-secondary me-3" %>
    </td>
  <% end %>

<% end %>