<div class="container container-md-fluid">
  <div class="row mb-3">
    <div class="col-12 col-lg-5 justify-content-start align-items-start mb-lg-2">
      <h1 class="mb-2 mb-lg-0 text-truncate h3"><%= t('.users_profile', username: @user.name) %></h1>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="row">
        <h2 class="h5 col"><%= @user.name %></h2>
        <div class="col">
          <%= link_to "Login As", "#", class: "btn btn-outline-primary float-end me-1" %>
          <%= link_to "Edit", "#", class: "btn btn-primary float-end me-1" %>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">name</div>
        <div class="col"><%= @user.name %></div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">email</div>
        <div class="col"><%= @user.email %></div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">role</div>
        <div class="col text-capitalize"><%= @user.role %></div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">create at</div>
        <div class="col"><%= date_timestamp(@user.created_at) %></div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">last updated</div>
        <div class="col"><%= date_timestamp(@user.updated_at) %></div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">remember created</div>
        <div class="col"><%= date_timestamp(@user.remember_created_at) %></div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">reset password sent</div>
        <div class="col"><%= date_timestamp(@user.reset_password_sent_at) %></div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">reset password token</div>
        <div class="col"><%= @user.reset_password_token %></div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">sign in count</div>
        <div class="col"><%= @user.sign_in_count %></div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">last sign in at</div>
        <div class="col"><%= date_timestamp(@user.last_sign_in_at) %></div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3 text-uppercase fw-bold">last sign IP</div>
        <div class="col"><%= @user.last_sign_in_ip %></div>
      </div>


    </div>

    <div class="card-footer">

    </div>
  </div>
</div>